<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Plasticore.Properties.Settings.PlastiBaseConnectionString"
            connectionString="Data Source=HAMED-PC;Initial Catalog=PlastiBase;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>